@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Milwaukee Trash Collector</h1>
    <p class="lead">For only $20 a month, you can have your trash collected once a week.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>